/node_modules
/public/hot
/public/storage
/public/resources

/public/images/singers/*.*
/public/images/products/*.*
/public/images/albums/*.*

/storage/*.key
/vendor
/logs
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
